In [ ]:
# Ejercicio 2: crea una celda de descuento con el título del cuaderno

# Data Science Tools and Ecosystem

In [ ]:
# Ejercicio 3: crea una celda de descuento para una introducción

 In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
# Ejercicio 10: inserte una celda de descuento para enumerar los objetivos

**Objectives:**

- List popular languages for Data Science
- Some of the commonly used libraries used by Data Scientists
- Data Science Tools
- A few examples of evaluating arithmetic expressions in Python

In [3]:
# Ejercicio 4: cree una celda de descuento para enumerar los lenguajes de ciencia de datos

#### Some of the popular languages that Data Scientists use are:

1. Python
2. SQL
3. C++
4. Java
5. R
6. C

In [ ]:
# Ejercicio 5: cree una celda de descuento para enumerar las bibliotecas de ciencia de datos

#### Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Matplotlib
3. Scikit-Learn
4. SciPy
5. TensorFlow

In [ ]:
# Ejercicio 6: cree una celda de descuento con una tabla de herramientas de ciencia de datos

|Data Science Tools|
| --------- |
|Jupyter Notebooks|
|RStudio|
|Spyder|

In [ ]:
# Ejercicio 7: cree una celda de descuento que presente ejemplos de expresiones aritméticas

### Below are a few examples of evaluating arithmetic expressions in Python


Operación de Adición:

|Operación Aritmética| Ejemplo  | Salida |
| --------- |--------- |--------- |
|Adición|  2+2  |  4  |
|Sustracción|  5-3  |  2  |
|Multiplicación|  4*5  |  20  |
|División|  6/3  |  2  |

In [ ]:
# Ejercicio 8: crea una celda de código para multiplicar y sumar números

In [6]:
# This a simple arithmeticexpression to mutiply then add integers

(3*4)+5

17

In [ ]:
# Ejercicio 9: cree una celda de código para convertir minutos a horas

In [7]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

In [ ]:
# Ejercicio 11: cree una celda de descuento para indicar el nombre del autor

## Author

Sandro A. Castillo S.